@page "/postes/details/{id:int}"

@using Shareds.Modeles;
@using Services;

<PageTitle>Details poste</PageTitle>

<div class="container">
    <div class="poste-infos">
        <div class="poste-info">
            <div class="infos infos-rom">
            </div>
            <div class="infos infos-ram">
            </div>
        </div>
        <div class="poste-info details">
            <h4>ID: @poste.Id</h4>
            <h4>Libellé: Poste @poste.LibellePoste</h4>
            <h4>Marque: @poste.Marque</h4>
            <h4>Adresse IP: @poste.AdresseIp</h4>
            <h4>Adresse MAC: @poste.AdresseMAC</h4>
            <h4>SE: @poste.SE</h4>
            <h4>ROM: @poste.ROM</h4>
            <h4>RAM: @poste.RAM</h4>
            <h4>Salle: @salle.Nom</h4>
            <h4>Type: @type.Nom</h4>
            @if (poste.Statut == true)
            {
                <h4>Statut: Connecté</h4>
            }
            else
            {
                <h4>Statut: Déconnecté</h4>
            }     
        </div>
    </div>
    <div class="poste-controls">

    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }

    private SalleModele salle = new SalleModele();
    private SalleService salleService = new SalleService();

    private PosteModele poste = new PosteModele();
    private PosteService posteService = new PosteService();

    private TypeModele type = new TypeModele();
    private TypeService typeService = new TypeService();

    protected override async Task OnInitializedAsync()
    {
        poste = await posteService.GetById(id);
        salle = await salleService.GetById(poste.IdSalle);
        type = await typeService.GetById(poste.IdType);
    }
}