@page "/postes/details/{id:int}"

@using Shareds.Modeles;
@using Services;

@inject NavigationManager NavigationM

<PageTitle>Details poste</PageTitle>

<h3>ID @id</h3>
<h3>Salle @salle.Id</h3>
<h3>Nom @salle.Nom</h3>

<div class="container">
    <div>

    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Libellé</th>
                    <th>Marque</th>
                    <th>Adresse IP</th>
                    <th>Adresse MAC</th>
                    <th>SE</th>
                    <th>ROM</th>
                    <th>RAM</th>
                    <th>Salle</th>
                    <th>Type</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr>
                        <td>@poste.Id</td>
                        <td>Poste @poste.LibellePoste</td>
                        <td>@poste.Marque</td>
                        <td>@poste.AdresseIp</td>
                        <td>@poste.AdresseMAC</td>
                        <td>@poste.SE</td>
                        <td>@poste.ROM</td>
                        <td>@poste.RAM</td>
                        <td>@salle.Nom</td>
                        <td>@type.Nom</td>
                       
                        @if (poste.Statut == true)
                        {
                            <td>Connecté</td>
                        }
                        else
                        {
                            <td>Déconnecté</td>
                        }
                    </tr>
                
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }

    private SalleModele salle = new SalleModele();
    private SalleService salleService = new SalleService();

    private PosteModele poste = new PosteModele();
    private PosteService posteService = new PosteService();

    private TypeModele type = new TypeModele();
    private TypeService typeService = new TypeService();

    protected override async Task OnInitializedAsync()
    {
        poste = await posteService.GetById(id);
        salle = await salleService.GetById(poste.IdSalle);
        type = await typeService.GetById(poste.IdType);
    }
}