@page "/dashboard"
@layout AppLayout

@using Services;
@using Shareds.Modeles;

@inject NavigationManager NavigationM
@inject UserService userService
@inject ParcService parcService

<PageTitle>Dashboard</PageTitle>

<div class="container">
    <div class="container-nbr">
        <div class="nbr-div nbr-users">
            <p> @users.Count </p>
            <p>Utilisateurs</p>
            <div class="blur blur-users-top"></div>
            <div class="blur blur-users-bottom"></div>
        </div>
        <div class="nbr-div nbr-salles">
            <p> @salles.Count</p>
            <p>Salles</p>
            <div class="blur blur-salles-top"></div>
            <div class="blur blur-salles-bottom"></div>
        </div>
        <div class="nbr-div nbr-postes">
            <p> @postes.Count </p>
            <p>Postes</p>
            <div class="blur blur-postes-top"></div>
            <div class="blur blur-postes-bottom"></div>
        </div>
    </div>
    
    <div class="container-stat">
        @if (salles.Count == 0)
        {
            <h3>Aucune salle dans ce parc.</h3>
        }
        else
        {
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Numéro</th>
                            <th>Capacité</th>
                            <th>Status</th>
                            <th>Type</th>
                            <th>Etablissement</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var salle in salles)
                        {
                            <tr class="d-table-row" @onclick="(()=> GetSalleDetails(salle.Id))">
                                <td>@salle.Id</td>
                                <td>@salle.Numero</td>
                                <td>@salle.Capacite</td>
                                <td>@salle.Status</td>
                                <td>@salle.IdType</td>
                                <td>@salle.IdEtablissement</td>
                                <!--<td>
                                    <a href="@($"salles/details/{salle.Id}")">Details</a>
                                </td>-->
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="stat stat-salles">
            </div>
        }
    </div>
</div>



@code {
    private List<UserModele> users = new List<UserModele>();

    private PosteService posteService = new PosteService();
    private List<PosteModele> postes = new List<PosteModele>();

    private SalleService salleService = new SalleService();
    private List<SalleModele> salles = new List<SalleModele>();

    protected override void OnInitialized()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        UserSession userS = await userService.GetUserSession();
        users = await GetUsersParc();
        salles = await GetParcSalles();
        postes = await GetParcPosts();

        if (userS is null)
        {
            NavigationM.NavigateTo("/login");
        }

        StateHasChanged();
    }

    private async Task<List<UserModele>> GetUsersParc()
    {
        var parc = await parcService.GetParcSession();
        if (parc is not null)
        {
            var res = await userService.GetAllByParc(parc.Id);

            return res;
        }
        else
        {
            return new List<UserModele>();
        }
    }

    private async Task<List<SalleModele>> GetParcSalles()
    {
        var salles = new List<SalleModele>();

        string userToken = await userService.GetUserToken();
        var parc = await parcService.GetParcSession();

        if (parc != null && userToken != null)
        {
            var res = await salleService.GetAllByParc(parc.Id, userToken);
            if (res != null)
                salles = res;
        }

        return salles;
    }

    private async Task<List<PosteModele>> GetParcPosts()
    {
        try
        {
            string userToken = await userService.GetUserToken();
            var parc = await parcService.GetParcSession();

            var postes = new List<PosteModele>();

            if(parc != null && userToken != null)
            {
                var res = await posteService.GetAllByParc(parc.Id, userToken);

                if (res != null)
                    postes = res;
            }

            return postes;
        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message);
        }
    }

    private void GetSalleDetails(int id)
    {
        var url = $"salles/details/{id}";
        NavigationM.NavigateTo(url);
    }

}
