@page "/salles/details/{id:int}"
@layout AppLayout

@using Shareds.Modeles;
@using Services;

@inject NavigationManager NavigationM
@inject UserService userService
@inject ParcService parcService

<PageTitle>Details salle</PageTitle>

<div class="container">
    <div class="nbr-div nbr-salles">
        <p>Salle @salle.Numero</p>
    </div>

    <div class="table-container">
        <div class="nbr-div-i">
            <span class="oi oi-monitor" aria-hidden="true"></span>
            <p>@postes.Count Postes</p>
        </div>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Numéro</th>
                    <th>Marque</th>
                    <th>Adresse IP</th>
                    <th>Adresse MAC</th>
                    <th>SE</th>
                    <th>ROM</th>
                    <th>RAM</th>
                    <th>Salle</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var poste in postes)
                {
                    <tr @onclick="(() => GetPostDetails(poste.Id))">
                        <td>Poste @poste.Numero</td>
                        <td>@poste.Marque</td>
                        <td>@poste.AdresseIP</td>
                        <td>@poste.AdresseMAC</td>
                        <td>@poste.SE</td>
                        <td>@poste.ROM</td>
                        <td>@poste.RAM</td>
                        <td>@salle.Numero</td>

                        @{
                            var type = typesPoste.Where(t => t.Id == poste.IdType);
                            foreach(var t in type)
                            {
                                <td>@t.Libelle</td>
                            }                          
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }

    private SalleModele salle = new SalleModele();
    private SalleService salleService = new SalleService();

    private List<PosteModele> postes = new List<PosteModele>();
    private PosteService posteService = new PosteService();

    private List<TypeModele> typesPoste = new List<TypeModele>();
    private List<TypeModele> typesSalle = new List<TypeModele>();
    private TypeService typeService = new TypeService();

    protected override async Task OnInitializedAsync()
    {      
        var result = await typeService.GetAll();
        typesPoste = result.Where(t => t.Objet == "Poste").ToList<TypeModele>();
        typesSalle = result.Where(t => t.Objet == "Salle").ToList<TypeModele>();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        salle = await GetSalleById(id);
        postes = await GetRoomPosts(id);

        StateHasChanged();
    }

    private async Task<SalleModele> GetSalleById(int id)
    {
        string userToken = await userService.GetUserToken();

        var res = await salleService.GetById(id, userToken);

        return res;
    }

    private async Task<List<PosteModele>> GetRoomPosts(int roomId)
    {
        var posts = new List<PosteModele>();

        string userToken = await userService.GetUserToken();
        var parc = await parcService.GetParcSession();

        if (parc != null && userToken != null)
        {
            var res = await posteService.GetAllByParc(parc.Id, userToken);

            if (res != null)
                posts = res;
        }

        return posts.Where(p => p.IdSalle == roomId).ToList();
    }

    private void GetPostDetails(int id)
    {
        var url = $"/postes/details/{id}";
        NavigationM.NavigateTo(url);
    }
}